<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bow &mdash; Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	
  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Touch2Pay</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li class="has-dropdown">
								<a href="transactions.html">Transactions</a>
								<!-- <ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li>
								</ul> -->
							</li>
							<li class="has-dropdown active">
								<a href="payment_modes.html">Payment Mode</a>
								<!-- <ul class="dropdown">
									<li><a href="#">HTML5</a></li>
									<li><a href="#">CSS3</a></li>
									<li><a href="#">Sass</a></li>
									<li><a href="#">jQuery</a></li>
								</ul> -->
							</li>
							<li><a href="profile.html">Profile</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);margin-bottom: 200px;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Payment Modes</h1>
							<h2>You can add, update and delete a payment mode here</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- <div style="margin-top: 00px;"></div> -->
	<div class="wrapper">
    		
		<!-- <div class="card radius shadowDepth1"> -->
			<!-- <div class="card__image border-tlr-radius">
				<img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
			</div> -->

			<div class="card__content card__padding">
				<div class="card__share">
					<div class="card__social">  
						<a class="share-icon facebook" href="#"><span class="fa fa-edit"></span></a>
						<a class="share-icon twitter" href="#"><span class="fa fa-trash"></span></a>
						<!-- <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a> -->
					</div>

					<!-- 	<a id="share" class="share-toggle share-icon" href="#"></a> -->
				</div>

				<!-- <div class="card__meta">
					<a href="#">Web Design</a>
					<time>17th March</time>
				</div> -->

				<article class="card__article">
					<h2><a href="#">SBI Card Details</a></h2>
						
					<p>Card Holder's Name : AKSHIT MINESHBHAI GANDHI</p>
					<p>Card Number : 5103 XXXX XXXX 4257</p>
				</article>
			</div>

			<div class="card__action">
				
				<div class="card__author">
					<!-- <img src="http://lorempixel.com/40/40/sports/" alt="user"> -->
					<div class="card__author-content">
						<!-- By <a href="#">John Doe</a> -->
					</div>
				</div>
			</div>
		<!-- </div> -->

		<!-- <p class="text-center">Created By <a href="https://twitter.com/mithicher">Mithicher Baro</a></p> -->
	</div>

	<div class="wrapper">
    		
		<!-- <div class="card radius shadowDepth1"> -->
			<!-- <div class="card__image border-tlr-radius">
				<img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
			</div> -->

			<div class="card__content card__padding">
				<div class="card__share">
					<div class="card__social">  
						<a class="share-icon facebook" href="#"><span class="fa fa-edit"></span></a>
						<a class="share-icon twitter" href="#"><span class="fa fa-trash"></span></a>
						<!-- <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a> -->
					</div>

					<!-- <a id="share" class="share-toggle share-icon" href="#"></a> -->
				</div>

				<!-- <div class="card__meta">
					<a href="#">Web Design</a>
					<time>17th March</time>
				</div> -->

				<article class="card__article">
					<h2><a href="#">AXIS Card Details</a></h2>
						
					<p>Card Holder's Name : NYASA MINESHBHAI GANDHI</p>
					<p>Card Number : 2541 XXXX XXXX 7487</p>
				</article>
			</div>

			<div class="card__action">
				
				<div class="card__author">
					<!-- <img src="http://lorempixel.com/40/40/sports/" alt="user"> -->
					<div class="card__author-content">
						<!-- By <a href="#">John Doe</a> -->
					</div>
				</div>
			</div>
		<!-- </div> -->

		<!-- <p class="text-center">Created By <a href="https://twitter.com/mithicher">Mithicher Baro</a></p> -->
	</div>












	<!-- <div id="fh5co-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-4" ng-repeat="userData in deliveryAddress1 track by $index " style="padding-bottom: 45px">
					<div class="text1"><b>
					{{userData.firstName}} {{userData.lastName}}
					</b></div>
					<div class="text2">
					{{userData.streetAddress}}
					</div>
					<div class="text2">
					{{userData.city}},{{userData.state}} {{userData.pincode}}
					</div>
					<div class="text2">
					{{userData.country}}
					</div>
					<button class="del" style="margin-top: 20px" id="{{$index}}" ng-click="deliver()">Deliver to this address</button>
				</div>
	<!--            <div class="col-lg-4">-->
	<!--                <button class="del" style="margin-top: 20px" id="{{$index}}" ng-click="deliver()">Deliver to this address</button>-->
	<!--                <button class="del" style="margin-top: 10px" ng-click="addAddress()">Add a new address</button>-->
	<!--            </div>-->
			<!-- </div> -->
			<!-- <div class="row">
				<form>
				<div class="col-lg-6">
				<div class="form-group" style="border-radius: 0px;width:80%;margin: 70px 0px;">
										<label style="padding-bottom: 10px">New Address : </label>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="firstName" style="border:1px solid lightgreen;border-radius: 0px" placeholder="Your First Name..." required />
											</div>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="lastName" style="border:1px solid lightgreen;border-radius: 0px" placeholder="Your Last Name..." required />
											</div>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="streetAddress" style="border:1px solid lightgreen;border-radius: 0px" placeholder="Street Address..." required />
											</div>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="city" style="border:1px solid lightgreen;border-radius: 0px" placeholder="City..." required />
											</div>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="state" style="border:1px solid lightgreen;border-radius: 0px" placeholder="State..." required />
											</div>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="pincode" style="border:1px solid lightgreen;border-radius: 0px" placeholder="Pincode..." required />
											</div>
										<div style="padding-bottom: 10px">
											<input type="text" class="form-control" ng-model="country" style="border:1px solid lightgreen;border-radius: 0px" placeholder="Country..." required />
											</div>
				</div> 
				</div>
				<div class="col-lg-6">
					<button type="submit" class="del" style="margin-top: 220px" ng-click="newAddress()">Add This Address</button>
				</div>
					</form>
			</div> -->
		
		</div>
	</div> -->

    <!-- <div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Finished Project</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="project">
					<div class="col-md-8 col-md-push-5 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="images/work_1.png" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box" data-animate-effect="fadeInRight">
						<div class="mt">
							<h3>Real Project For Real Solutions</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. </p>
							<ul class="list-nav">
								<li><i class="icon-check"></i>Far far away, behind the word</li>
								<li><i class="icon-check"></i>There live the blind texts</li>
								<li><i class="icon-check"></i>Separated they live in bookmarksgrove</li>
								<li><i class="icon-check"></i>Semantics a large language ocean</li>
								<li><i class="icon-check"></i>A small river named Duden</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="project">
					<div class="col-md-8 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="images/work_1.png" alt="work">
					</div>
					<div class="col-md-4 animate-box" data-animate-effect="fadeInRight">
						<div class="mt">
							<div>
								<h4><i class="icon-user"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4><i class="icon-video2"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4><i class="icon-shield"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div> -->

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>The Company</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#">Learn More</a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="payModes/index.html" class="js-gotop1" ><i class="fa fa-plus"></i></a>
	</div>
	
	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		Launch demo modal
	  </button> -->
	  
	  <!-- Modal -->
	  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  ...
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary">Save changes</button>
			</div>
		  </div>
		</div>
	  </div>

	 



	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

